<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>dev.flutter.background.refresh</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Arre Voice </string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>arre_frontend_flutter</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.arre.arrevoice</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ShareMedia</string>
				<string>myappname</string>
				<string>getsocial-6q76UZ00770zg</string>
			</array>
		</dict>
	</array>
	<key>FirebaseDynamicLinksCustomDomains</key>
    <array>
        <string>https://arrevoice.co</string>
        <string>https://www.arrevoice.co</string>
        <string>https://arrevoice.com</string>
        <string>https://www.arrevoice.com</string>
    </array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<string>0</string>
	<key>GoogleUtilitiesAppDelegateProxyEnabled</key>
	<string>0</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>http</string>
		<string>kakaostory-2.9.0</string>
		<string>kakaotalk-4.5.0</string>
		<string>facebook</string>
		<string>storykompassauth</string>
		<string>kakaokompassauth</string>
		<string>fb-messenger-platform-20150714</string>
		<string>fb-messenger-api20140430</string>
		<string>fb-messenger-platform-20150128</string>
		<string>fb-messenger-platform-20150218</string>
		<string>fb-messenger-platform-20150305</string>
		<string>kik-share</string>
		<string>whatsapp</string>
		<string>kakaolink</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>line</string>
		<string>viber</string>
		<string>tg</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Play using while you are background</string>
	<key>NSCameraUsageDescription</key>
	<string>Arre needs your Camera access</string>
	<key>NSContactsUsageDescription</key>
	<string>We will upload your contacts to our servers and this enables us to suggest you and your friends to each other. Arré voice is fun with friends.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This let's you record voicepods and share your opinions on live jampods. We will store your recordings to our servers.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This let's you choose a photo from your gallery for the profile picture of the app. We will also upload the same to our servers.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This let's you choose a photo from your gallery for the profile picture of the app. We will also upload the same to our servers.</string>
	<key>PermissionGroupNotification</key>
	<string>Notifications may include alerts, sounds and badges, you can customise it your preferences in the Notification settings section.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>branch_check_apple_ads</key>
	<true/>
	<key>branch_check_pasteboard</key>
	<true/>
	<key>branch_enable_log</key>
	<true/>
	<key>branch_key</key>
	<string>key_live_oj5GsC8kd5fNLC9pkR8UYmeaDsjbeevq</string>
	<key>branch_universal_link_domains</key>
	<array>
		<string>https://www.arre.co.in/</string>
		<string>applinks:arrevoice1.gsc.im</string>
		<string>applinks:arrevoice1-gsalt.gsc.im</string>
		<string>applinks:arrevoice.app.link</string>
		<string>applinks:arrevoice-alternate.app.link</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
